{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="post">
    <lable>Enter email:</lable>
    <input name="email" type="email">
    <label>Enter password:</label>
    <input name="password" type="password">
    <button type="submit">Log in</button>
</form>
<p>No account?<a href="{{ url_for('account.register')}}">Register Here</a></p>




<p>Return to <a href="{{ url_for('home')}}">Homepage</a></p>
{% endblock %}