{% extends "base.html" %}
{% block title %}Register Your Account{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="post">
    <label>Enter email:</label>
    <input name="email" type="email">
    <lable>Enter password:</lable>
    <input name="password" type="password">
    <button type="submit">Register</button>
</form>
<p>Return to <a href="{{ url_for('shop.home')}}">Homepage</a></p>
{% endblock %}